1. what is python and why is it popular
- python is popular because it is high level programming lannguage which is very simple to learn
- it is widly used all around as it the most used language mainly for web develepment, game designing etc
- python is popular asit is very simple and takes fewer lines for a code compared to other languages

2. what is an IDE and name a few popular pythons IDE'S
- its full form is intergrated development environment
- this include various programming application or software applications which helps for programmers to code.
popular python ide's are:-
- google coolab
- juypter
- spyder

3. what are rules for naming a variables.
- varibles must start with alphanumeric or underscore
- they can be alpha numberic
- they cannot start with digits, keyword or symbols
- they are case sensitive

4. how do u assign multiple values to multiple variables insingle line

In [8]:
x,y,z= 2,4,5
print (x)
print(y)
print(z)

2
4
5

5. can  use pythonkeyword as varibles.
- no python cannot use keyword as variables as they are used to perform operations and we cant comsider as vaiable we will get an error if we use them ina variable.

6. why are comments important in  programming
- comments help us to understand the coder better  and it also helps us to know how the code works.
- its is essential part of programming language.
- It also helps in debugging by knowing the problem better.

7. what are the basic data tyoes in python.
-They are  4 basic types in python they are
 int- it represnts whole numbers, both positive negative and zero
 float- it is decimal number of=r fractional number
complex- it consists of imaginary and real part in it'
boolean- it returms the value either in true or false,

8. how do u convert a string to an interger in pythoon

In [4]:
a= "234"
b=int(a)
print(b)
print(type(b))

234
<class 'int'>

9. difference between int and float
- int are the non fractional nummbers and float are fractional numbers
- int are whole number they can bbe positive negative or zero where as float are in decimal form they can also be positive or negative
- example of int= 34
- example of float= 30.13

10. how do u check the data type of a variable
- we can check the type of varibale by using type function.

In [6]:
# to check a data type of a variable we need to use type fuction for example
x= 45.09
print(type(x))

<class 'float'>

11. how do u add an elemnt in nthe list

In [20]:
a= [23,34,89]
a.append(3)
print(a)

[23, 34, 89, 3]

12. how do u create tuuple with one elemnt

In [28]:
one_elemnt=(90,)
print(one_elemnt)
print(type(one_elemnt))

(90,)
<class 'tuple'>

13. how do u accsess a value using akey in dictionaries

In [34]:
bio={'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}
bio['name']

'ram'

14. how do accsess elemnts inthe list
- by assigning the index method we can accsess

In [32]:
a= [2,4,5,7]
a[2]

5

15. how do u access a char in a string

In [38]:
str="idris"
str[3]

'i'

16. format strings in python

In [40]:
number= 2
place="HYD"
format_string=f"His  number is {number} going to {place}." 
print(format_string)

His  number is 2 going to HYD.

17. what is tuple and how it is diff from list
- tuple is a list in an ordered collection of items,tThey are immutable, as once they are created they cannot be changed.
They can also contain duplicate elemen
-  as list are unorered and can be mutable and if they are created they can be changedts.

18. how to u concantacte two tuples

In [42]:
num = (1, 2, 3)
fruits = ("apple", "banana", "cherry")
c= num+fruits
print(c)

(1, 2, 3, 'apple', 'banana', 'cherry')

19. how do u acsess values using dictionary.

20.  how do u add a key pair value to dictionaries

21. how du remove key value pair
- we can do it by using pop method

In [44]:
student = {"name": "idris" , "age": 21, "course": "python"}
x=student.pop("age")
print(x)
print(student)

21
{'name': 'idris', 'course': 'python'}

22. how do u add an element inthe set
- we can use add or update for adding a element in the set

In [46]:
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
num.update(int)
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

23. how do u remove an elemnt from the set
- we can remove an element by using discard or remove

In [48]:
x={"music", "dance","art","roleplay","writing","acting"}
x.remove("art")
print(x)

{'roleplay', 'music', 'writing', 'acting', 'dance'}

24. what are common set operations in python
- union
- intersection
- difference
- set_symmetric_difference

25. write a python program to find the index of an elemnet in a tuple

In [51]:
a=(2,5,7,9,54,12)
a.index(12)

5