In [21]:
#1 restaurant

veg=['panner curry','cashew curry','methi chaman','kadai veg',' gobi curry']
non_veg=['fish curry','chicken curry','mutton curry','butter chicken',' prawns fry']
print(" welcome to v restaurant")
print(" Here is our veg and non veg menu")
print(f'veg menu :{veg}')
print(f'non veg menu:{non_veg}')

def restaurant(veg,non_veg,):
    while True:
        user=input('please tell your order:')
        if user in veg:
            print(f' we have {user} in veg, it will be ready please wait for it')
            break
        elif user in non_veg:
            print(f' we have {user} in non veg, it will be ready please wait for it')
            break
        else :
            print(f"{user} we are not serving the current item")

restaurant(veg,non_veg)

 welcome to v restaurant
 Here is our veg and non veg menu
veg menu :['panner curry', 'cashew curry', 'methi chaman', 'kadai veg', ' gobi curry']
non veg menu:['fish curry', 'chicken curry', 'mutton curry', 'butter chicken', ' prawns fry']

please tell your order: fish curry

 we have fish curry in non veg, it will be ready please wait for it

# 2 .write a python code to check if a num is prime or not using function.

In [79]:
def prime_number(num):
    for i in range(2,num):
        if num % i == 0:
            print(f' {num} is not prime number')
            break
        else :
            print(f' {num} is prime number')
        break
prime_number(13)
prime_number(30)
prime_number(10)

 13 is prime number
 30 is not prime number
 10 is not prime number

# 3. print th following numbers in pattern.

In [23]:
for i in range(5, 0, -1): 
    print(f'{6 - i} ' * i)

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# 4.write a python code to convert celsius to fahrenheit

In [49]:
#formula of coverting= c*9/5+32 or c*1.8 +32
c=celsius=float(input("enter celsius: "))
def farenhiet(f):
    farenhiet=f=(c*1.8)+32
print(f)

enter celsius:  43

158.9

In [44]:
#c=celsius=float(input("enter celsius: "))
def farenhiet(f):
    print(f' The farenhiet of {f} degree celsius is {(c*1.8)+32}')

farenhiet(34)

 The farenhiet of 34 degree celsius is 89.6

# 5. write a function to calculate simple interest

In [64]:
#formula Simple Interest = Principal Amount × Interest Rate × Time
#pr=int(input("Enter principle amount:")) 
#rate= float(input("Enter the rate of interset:")) 
#time = int(input("Enter a time period in year:")) 
#si= am*rate*time
def simple_intrest(am,rate,time):
    print(f'The simple intrest is {am*rate*time}')

simple_intrest(1000,0.5,5)

The simple intrest is 2500.0

# 6. write a python code to convert in to int to decimal by using function

In [81]:
#int=int(input('enter a number:'))
def integer(int):
    con=float(int)
    print(con)

integer(34)
integer(100)

34.0
100.0

# 7. write a python code to check given character is digit or not

In [98]:
def character(char):
    char1=str(char)
    if char1.isdigit():
         print(f" {char1} is a digit")
    else:
          print(f" {char1} is not a digit")

character(3345)
character('idris')

 3345 is a digit
 idris is not a digit

# 8. write a python code to check number is Amstrong or not

In [11]:
def armstrong(num):
    count = 0
    for i in str(num):
        count += int(i) ** 3  
    if count == num:
        print(f'{num} is an Armstrong number')
    else:
        print(f'{num} is not an Armstrong number')

armstrong(123) 
armstrong(153)

123 is not an Armstrong number
153 is an Armstrong number

# 9. Given strings are anagram or not.

In [33]:
def anagram(str1,str2):
    st_1=sorted(str1)
    st_2=sorted(str2)
    if  st_1==st_2:
        print(f' Given strings are anagram')
    else:
        print(f' Given strings are not anagram')

anagram('idris','sirdi')
anagram('ski','sky')

 Given strings are anagram
 Given strings are not anagram

# 10. write a python code to check non-repeating of first occurence char in string

In [7]:
str=input('enter character :')
for i in str:
    if str.count(i)==1:
        print(f'{i} is the first non-repeating of the string')
        break
else:
    print(f'There are no first non-repeating string')

enter character : abrar

b is the first non-repeating of the string

# 11. write a python code to find greatest common divisior

In [75]:
a=int(input('enter a number: '))
b=int(input('enter a number: '))
def common_divisor(a, b):
    while b != 0:
        a, b = b, a % b  
    print( f'the Greatest common divisor  is {a}')
common_divisor(a,b)

enter a number:  12
enter a number:  4

the GCD is 4

# 12. write a python program to remove duplicates from list

In [14]:
list1=[2,3,2,1,5,7,4,5,6,6,7]
og_list=list(set(list1))
print(og_list)

[1, 2, 3, 4, 5, 6, 7]

# 13.replace the string space with the given character

In [17]:
str = " I am shaik idris and i'm from  hyderabad. "
char='!'
rep=str.replace(" ",char)
print(str)
print(rep)

 I am shaik idris and i'm from  hyderabad.
!I!am!shaik!idris!and!i'm!from!!hyderabad.!

# 14. write a python code to swap two number without using third variable

In [49]:
def swapping(num1,num2):
    print(f'values before swapping num1={num1},num2={num2}')
    num1,num2=num2,num1
    print(f'The swapped values of num1 is {num1} and num2 is {num2}')
swapping(23,43)
swapping(12,67)

values before swapping num1=23,num2=43
The swapped values of num1 is 43 and num2 is 23
values before swapping num1=12,num2=67
The swapped values of num1 is 67 and num2 is 12

# 15. write a python code to add two integers, without using any arithmetic operator

In [96]:
a=int(input("Enter the value of number1"))
b=int(input("Enter the value of number2"))
num=sum([a,b])
print(f"Sum of two numbers is: {num}")

Enter the value of number1 12
Enter the value of number2 3

Sum of two numbers is: 15